.booking-modal-container {
  .booking-modal-content {
    height: auto;
    display: flex;
    flex-direction: column;
    .booking-modal-header {
      padding: 10px;
      border: 1px solid #ccc;
      .left {
        font-size: 15px;
        font-weight: 600;
        color: #333;
      }
      .right {
        float: right;
        cursor: pointer;
        &:hover {
          color: #ffc107;
        }
      }
    }

    .booking-modal-body {
      height: 100%;
      padding-top: 10px;
    }

    .booking-modal-footer {
      padding: 10px;
      border-top: 1px solid #ccc;
      display: flex;
      justify-content: flex-end;

      button {
        border: none;
        outline: none;
        min-width: 100px;
        min-height: 30px;
      }
      .btn-booking-confirm {
        background-color: #45c3d2;
        margin-right: 5px;
        border-radius: 3px;

        &:hover {
          background-color: #ffc107;
        }
      }

      .btn-booking-cancel {
        background-color: gray;
        border-radius: 3px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
