.user-redux-container {
  .user-redux-body {
    .preview-image-container {
      display: flex;
      .preview-image-update {
        display: flex;
        flex-direction: column;
        .btn-preview {
          margin-right: 16px;
        }
      }
      .preview-image {
        height: 100%;
        width: 110px;
        background: center center no-repeat;
        background-size: contain;
      }
    }
  }
}
