.section-specialty {
  height: 330px;
  background-color: #f5f5f5;
  border: 1px solid gray;
}

//rest slick slider css
.slick-prev {
  border: 1px solid gray !important;
  position: relative !important;
  left: 0 !important;
}

.slick-next {
  border: 1px solid red !important;
  right: 0 !important;
}
