//rest slick slider css
.slick-prev {
  z-index: 1000 !important;
  height: 48px !important;
  width: 44px !important;

  &:hover {
    color: #d7d7d7 !important;
  }
}

.slick-prev:before {
  color: red !important;
  font-size: 3.8rem !important;
}

.slick-next {
  height: 48px !important;
  width: 44px !important;
  z-index: 1000;

  &:hover {
    color: #d7d7d7 !important;
  }
}

.slick-next:before {
  color: red !important;
  font-size: 3.8rem !important;
}

.slick-disabled {
  display: none !important;
}

.section-share {
  &.section-specialty {
    background-color: #f5f5f5;
  }

  &.section-about {
    height: 500px;
  }

  .section-body {
    .specialty-customize {
      padding: 0 2rem;
      .bg-image {
        height: 240px;
        width: 94%;
        background: url("../../assets/Specialty/m1.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .doctorImage {
        position: relative;
        left: 2rem;
        border-radius: 100%;
      }
    }

    .good_doctor {
      border: 1px solid orange;
      margin: 0 8px;
      .good_doctor_img {
        height: 200px;
        width: 50%;
        margin: 20px 25%;
        padding: 20px 20px;
        border-radius: 50%;
        border: 1px solid orange;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
}

.section-share {
  height: 400px;
  background-color: #f5f5f5;
  .section-container {
    margin: 60px 70px;
    display: flex;
    flex-direction: column;

    .section-header {
      height: 60px;
      margin-bottom: 30px;
      padding-top: 30px;

      .title-section {
        font-size: 2rem;
        font-weight: 600;
      }

      .btn-section {
        float: right;
        border: none;
        padding: 10px 15px;
        outline: none;
        display: block;
        background: #ebebeb;
        color: #000;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
          color: #fff;
          background-color: #f7d800;
        }
      }
    }
  }
}

.home-footer {
  padding-top: 8px;
  text-align: center;

  a {
    text-decoration: none;
  }
}

.section-about {
  margin: 0 0 20px;
  padding: 0 100px;

  .section-about-header {
    padding: 22px 10px;
    font-size: 22px;
    font-weight: 600;
  }

  .section-about-content {
    display: flex;
    gap: 15px;
    width: 100%;
    .content-left {
      width: 50%;
    }

    .content-right {
      width: 50%;
      p {
        text-align: justify;
        font-size: 1.6rem;
        font-weight: 500;
        font-style: italic;
      }
    }
  }
}
